body {
    background-color: rgb(218, 246, 178);
    margin: 0 auto;
    width: 1200px;
}

main,
header {
    background-color: white;
    box-shadow: 0 0 15px #000000;
    width: 1000px;
    margin: auto;
}

.mainwords {
    float: left;
    font-family: 'Roboto Mono', monospace;
    width: 207px;
    padding: 10px;
}

.s1 {
    background: linear-gradient(45deg, #b7d3e1 30%, #9db6c2 50%, #b7d3e1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
}

.s2 {
    background: linear-gradient(45deg, #ff0000 30%, #db6c6c 50%, #ff8e8e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
}

.s3 {
    background: linear-gradient(45deg, #4bbb46 30%, #5ce555 50%, #66ff5e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
}

.mainfoto {
    margin-top: 10px;
    margin-left: 50px;
    border: dotted;
    border-color: lightblue;
    border-width: 2px;
    float: left;
    width: 350px;
    height: 150px;
}

.title {
    margin-left: 50px;
    height: 200px;
}

.foto {
    margin-left: 150px;
    float: left;
    width: 500px;
}

.maincontent {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

.firstword {
    color: rgb(77, 142, 74);
    font-family: 'Comfortaa', cursive;
}

.listfoto {
    float: left;
    width: 150px;
    height: 150px;
}

.maincontent {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

.knowtxt {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
}

.ZOSH {
    text-align: center;
}

.second_con {
    text-align: center;
}